{{#each this}}
  <div class='film-card' id='{{id}}'>
    <img src={{poster}} alt='{{title}}' id='{{id}}' />

    <div class='description'>
      <span class='description-item'>
        {{title}}
      </span>
      <p class='genres-data-info'>
        <span>
          {{#each genres_name}}
            {{this}}{{#unless @last}},{{/unless}}

          {{/each}}
        </span>
        <span class='description-item'> &nbsp;| {{release_date}}</span>
      </p>

    </div>
  </div>
{{/each}}